<app-navbar></app-navbar>

<div class="container main-comics">
  
  <div class="row">
    <div class="col-xl-4 comic-card">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top comic" src="../../assets/images/comics/comic-1.jpg" alt="Card image cap">
        <div class="card-body comic-info">
          <h5 class="card-title text-dark">Lorem ipsum dolor sit amet</h5>
          <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
          <div class="card-btns">
          <a href="#" class="btn btn-primary">Get info</a> 
          <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 comic-card">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top comic" src="../../assets/images/comics/comic-2.jpg" alt="Card image cap">
        <div class="card-body comic-info">
          <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
          <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
          <div class="card-btns">
          <a href="#" class="btn btn-primary">Get info</a> 
          <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-4 comic-card">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-3.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-4.jpeg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>  

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-22.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-6.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-7.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-28.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-9.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark">nec euismod nulla</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-10.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark">nec euismod nulla</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-11.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark">nec euismod nulla</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 comic-card">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top comic" src="../../assets/images/comics/comic-12.jpg" alt="Card image cap">
      <div class="card-body comic-info">
        <h5 class="card-title text-dark"> Cras laoreet vestibulum urna</h5>
        <p class="card-text text-dark">Sed eu rhoncus lorem.</p>
        <div class="card-btns">
        <a href="#" class="btn btn-primary">Get info</a> 
        <a href="#" class="btn btn-success add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>

</div>
