.main-comics {
    // display: flex;
    // justify-content: space-between;
    // flex-direction: row;
}

.add-to-cart {
    margin-left: 10px;
}

.comic {
    width: 286px;
    height: 440px;
}

.comic-info {
    width: 286px;
    height: 140px;
}

h5 {
    font-size: 1.1rem;
}